[Unit]
Description=Fallback HTTPS time sync
After=network-online.target NetworkManager-wait-online.service
Wants=network-online.target NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 30
ExecStart=/opt/nicu_audit/scripts/https-time-sync.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
