[Unit]
Description=NICU Audit Logger v5.2
After=network-online.target https-time-sync.service
Wants=network-online.target
Requires=https-time-sync.service

[Service]
User=saem
WorkingDirectory=/opt/nicu_audit

Environment=PYTHONPATH=/opt/saem/LoudnessModel

ExecStartPre=/bin/sleep 5

ExecStart=/opt/saem/venv311/bin/python /opt/nicu_audit/src/nicu_audit_levels_v5_1_3.py

Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal

# 🔥 evita loops infinitos silenciosos
StartLimitIntervalSec=60
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
