[Unit]
Description=SAEM Loudness Worker
After=nicu-audit.service
Requires=nicu-audit.service

[Service]
Type=simple
ExecStart=/opt/saem/venv311/bin/python -u /opt/nicu_audit/src/saem_loudness_worker_1.py
Restart=always
RestartSec=3
Nice=0
User=saem
Group=saem

[Install]
WantedBy=multi-user.target
