[Unit]
Description=SAEM System Monitor (CPU / Temperature)
After=network.target

[Service]
User=saem
WorkingDirectory=/opt/nicu_audit

ExecStart=/opt/saem/venv311/bin/python -u /opt/nicu_audit/src/saem_system_monitor.py

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
